<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/changes.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}" />
  </head>
  <body>
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
    <div class="container">

      <div th:if="${not #lists.isEmpty(changes)}"></div>
      <form action="#" th:action="@{/adChanges}" th:object="${wrapper}" method="post">
      <table class = "table table-striped"> 
        <thead>
          <tr>
              <th colspan="2">Changes on AD</th>
          </tr>
      </thead>     
        <tbody>
         <tr>
         <th> User Name </th>
         <th> Action </th>
         <th>   </th>
         <th> Refuse </th>
      
         
         <tr  th:each="currentChange,stat : ${wrapper.changesList}"  >
          <td> <input  type="hidden" readonly="readonly"  th:field="*{changesList[__${stat.index}__].cible}" th:value="${currentChange.getCible()}" th:text="${currentChange.getCible()}" /></td>
          <td> <input  type="hidden" readonly="readonly"  th:field="*{changesList[__${stat.index}__].type}" th:value="${currentChange.getType()}" th:text="${currentChange.getType()}"/></td>
          <td> <input  type="hidden" readonly="readonly"  th:field="*{changesList[__${stat.index}__].typeCible}" th:value="${currentChange.getTypeCible()}" th:text="${currentChange.getTypeCible()}"/></td>
          <td>
             <input type="checkbox" name="|changesList[${stat.index}]|"  th:field="*{changesList[__${stat.index}__].refused}" th:value="${currentChange.getRefused()}" th:checked="${currentChange.refused}" style="text-align:center; vertical-align: middle;">
           </td>
          </tr>

     
        </tbody>
        </table>
        <button class="hidden-print" type="submit">Validate</button>    
      </form>
        <button class="hidden-print" name="printPage"onclick="window.print();return false">Print page</button>
</div >
<div class="hidden-print">
<button name="IndexButton" onclick="window.location.href='/index'">Home</button>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

</div>

  </body>
</html>