<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
   <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" />
   </head>
<body>
<div>
    
    <form action="#" th:action="@{/deleteGroup(id=${user.id})}" method="post" th:object="${aduser}">
    <h1>Delete groups from user <span th:text="${user.displayName}"> </span></h1>
    <label>Group(s):</label>

<select name="groupsList"  id="groupsList"  th:field="*{groups}" multiple>
    <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.displayName}"></option> 
</select>
<button type="submit">Register</button>    
</form>
</div>
</body>
</html>