<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
   <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" />
   </head>
  <body>
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
    <div class="container">

      <button name="userInfo" onclick="window.location.href='/users'">Informations utilisateurs</button>
      <button name="roleInfo" onclick="window.location.href='/roles'">Informations roles</button>
      <button name="groupInfo" onclick="window.location.href='/groups'">Informations groupes</button>
      <button name="changes" onclick="window.location.href='/changes'">Changements dans l'AD</button>
     
</div>
<button name="IndexButton" onclick="window.location.href='/index'">Home</button>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

  </body>
</html>