<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
   <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" />
   <link rel="stylesheet" th:href="@{/static/css/main.css}" />
   </head>
<body>
  <div class="topnav">
    <button name="IndexButton"  class="navitem active" onclick="window.location.href='/index'">Home</button>
    <form   th:action="@{/logout}" method="post">
        <input class="navitem" type="submit" value="Logout" />
    </form>
  <button name="scopeSelect" class="navitem" onclick="window.location.href='/scopes'">Scope selection</button>

</div>
<div>
  <form action="#" th:action="@{/scopes}" method="post" th:object="${selectedScope}">
<label>Scope(s):</label>

<select name="scope"  id="scope"  th:field="*{scopeName}" >
    <option th:each="scope : ${scopes}" th:value="${scope.scopeName}" th:text="${scope.scopeName}"></option> 
</select> 
 <button type="submit"  method="post" >Select</button>
</div>
</form>
 <button type="submit" onclick="window.location.href='/addScope'">Add a scope</button>    


</body>
</html>