<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/user.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" />
  </head>
  <body>
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
    <div class="container">

      <div th:if="${not #lists.isEmpty(roleList)}"></div>
      <table class = "table table-striped"> 
        <thead>
          <tr th:each="user : ${users}">
              <th colspan="2" th:text="${user.displayName}" ></th>>User details</th>
              <form method="POST" th:action="@{/deleteUser(id=${user.id})}">
                <button type="submit" name="submit" value="value" class="link-button">DELETE USER</button>
            </form>
            
              <button  name="giveRoleb"  th:onclick="giveRole([[${user.id}]])" class="link-button">add roles</button>      
            <button name="removeRoleb"  th:onclick="deleteRole([[${user.id}]])" class="link-button">remove roles</button>
            <button  name="giveGroupb"  th:onclick="giveGroup([[${user.id}]])" class="link-button">add groups</button>      
            <button name="removeGroupb"  th:onclick="deleteGroup([[${user.id}]])" class="link-button">remove groups</button>
          </tr>
      </thead>     
        
         <tr>
         <th> Member of roles:</th>
         
         </tr>       
         <tr  th:each="role : ${roleList}" style="cursor: pointer" >
         <td th:text="${role.displayName}" ></td>
         </tr>
         <tr>
          <th> Member of groups:</th>
          
          </tr>       
          <tr  th:each="group : ${groupList}" style="cursor: pointer" >
          <td th:text="${group.displayName}" ></td>
          </tr>
        </table>
</div>
<button name="IndexButton" onclick="window.location.href='/index'">Home</button>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>


  </body>
</html>